<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No repository provided</title>
</head>
<body>
    <h1>No repository provided</h1>
    <p>If you are trying to access the Search API, please provide a repository name in the URL.</p>
    <p>This is not intended to be used as a public/standalone service. Please see <a href="https://github.com/fakerybakery/hf-tools">the GitHub repository</a> for more information on how to use this tool.</p>
</body>
</html>